*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    height: 100%;
    width: 100%;
}
.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid black;
}